*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
#medsos{
    padding: 20px 0;
    background-color: rgb(107, 116, 113);
}
#medsos ul li{
    display: inline-block;
    color: #fff;
    margin-right: 20px;
}
#container{
    width: 80%;
    margin: 0 auto;

}
#container::after{
    content: '';
    display: block;
    clear: both;
}
header h1{
    float: left;
    padding: 15px 0;
    color: rgb(107, 116, 113);
}
header ul{
    float: right;
}
header ul li{
    display: inline-block;
}
header ul li a{
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover{
    background-color: rgb(107, 116, 113);
    color: #fff;
}
#aktif{
    background-color: rgb(107, 116, 113);
    color: #fff;
}
.banner{
    height: 60vh;
    
    background-image: url('../img/kelas.jpeg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(107, 116, 113, .6);

}
.banner h2{
    color: #fff;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #fff;
}
section{
    padding: 50px 0;

}

section h3{
    text-align: center;
    padding: 20px 0;
    color : rgb(107, 116, 113);
    margin-bottom: 25px;
}
#about{
    padding-bottom: 100px;
}
#about{
    padding: bottom 100px;
}
#about p{
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
    margin-bottom: 20px;
    text-align: center;
}
footer{
    padding: 40px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}
#label{
    background-color: rgb(107, 116, 113);
    color: #fff;
}
img{
    padding: 20px;
    padding-left: 315px;
}
#kontak{
    background-color: #f9f9f9;
}
#box{
    color: rgb(107, 116, 113);
}
#box::after{
    content: '';
    display: block;
    clear: both;
}
#box .col-4{
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
#box .col-4 h4{
    margin: 10px 0;
}
@media screen and (max-width: 768px){
    #container{
        width: 90%;
    }
    header h1{
      text-align: center;  
      float: none;
    }
    header ul li{
        text-align: center;
        float: none;
        
    }
    #box .col-4{
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    img{

    }
}
